{% extends 'base.html' %}

{% block head %}
<title>Admin Panel</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/admin.css') }}">
{% endblock %}

{% block body %}

<h1 id="title" >Admin Panel</h1>
<div id="main">

    <div class="section" id="status_container">
        <p id="status" >Current Server Status: {{ server_status }}</p>
        <form id="status-form"action="{{ url_for('admin_panel') }}" method="POST">
            <div id="on-or-off-btns">
                <button id="btn" type="submit" name="action" value="Turn Server On">Turn Server On</button>
                <button id="btn" type="submit" name="action" value="Turn Server Off">Turn Server Off</button>
            </div>
            <div id="custom-message-div">
                <input id="custom-message-input" type="text" name="message" placeholder="Enter custom message">
                <button id="custom-message-btn" type="submit" name="action" value="Make custom message">Make custom message</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
