<!DOCTYPE html>
<html lang="en">
<head>

    {% block style %} {% endblock %}
    {% block head %} {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">

</head>
<body>

    {% block body %} {% endblock %}

    <div id="main-van-container">
        <div id="trans-block">
        </div>
        <div id="main-van-bar">
            <a class="nav-link" href="/>Home">Home</a>
            <a class="nav-link" href="/admin">Admin</a>
        </div>
    </div>
</body>
</html>


