{% extends 'base.html' %}

{% block head %}
<title>MC Server</title>
{% endblock %}


{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">

{% endblock %}


{% block body %}

<h1>
    Server 
    {% if status %}
        <span class="status-online">Online</span>
    {% else %}
        <span class="status-offline">Offline</span>
    {% endif %}
</h1>

<div id="main_container">

    <img id="arrow_pic" src="static\Images\scroll_arrow.png" alt="logo">

    <div id="main-panel">
    </div>

</div>

{% endblock %}
